<%= form_with model: @book, class: 'edit-book' do |f| %>
  <p>Please edit the following information to save your book to our database:</p>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :author %>
  <%= f.text_field :author %><br>

  <%= f.label :description %>
  <%= f.text_field :description %><br>

  <%= f.submit "Update Book", class: "book-button" %>
<% end %>